
body {
    /*  font-family: Arial, sans-serif; */
     font-family: "Sofia", sans-serif;
     background: url('https://source.unsplash.com/1920x1080/?piano,art,music') center/cover fixed no-repeat;
     color: #333;
     margin: 1;
     padding: 0;
     display: flex;
     justify-content: center;
     align-items: center;
     height: 100vh;
  }
  
  .piano {
      display: flex;
  
    }
    
    
    .key {
      width: 75px;
      height: 220px;
      background: white;
      border:5px solid black;
      cursor: pointer;
      display: flex;
      align-items: flex-end;
      justify-content: center;
      position: relative;
    }
    .key:hover{
      display: ruby-base;
      background-color: aquamarine;
  
    }
    